<div class="container login-container">
    <div class="row">
      <div class="col-md-6 login-form-1">
        <h3>Redefinir Senha</h3>
        <form>
          <div class="form-group">
            <label for="password">Senha Antiga</label>
            <input [(ngModel)]="senhaAntiga" name="senha1" type="password" class="form-control" placeholder="Senha">
          </div>
          <div class="form-group">
            <label for="Password">Nova Senha</label>
            <input [(ngModel)]="senha" name="senha" type="password" class="form-control" placeholder="Senha">
          </div>
          <p id="sucesso" class="alert alert-success" role="alert" hidden>Senha alterada com sucesso</p>
          <p id="erro" class="alert alert-danger" role="alert" hidden>Erro ao alterar senha!</p>
          <div class="form-group">
            <button type="reset" class="btn btn-primary" (click)="redefinirSenha()">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  