<div class="container">
  <form [formGroup]="cadastroForm">
    <div class="form-group">
      <label for="nomeCompleto">Nome Completo</label>
      <input formControlName="nomeCompleto" name="nomeCompleto" type="text" class="form-control" placeholder="Nome Completo" [ngClass]="{ 'is-invalid': submitted && f.nomeCompleto.errors }">
      <div *ngIf="submitted && f.nomeCompleto.errors" class="invalid-feedback">
        <div *ngIf="f.nomeCompleto.errors.required">O Nome é obrigatório</div> 
      </div>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input formControlName="email" name="email" type="email" class="form-control" placeholder="E-mail" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">O Email é obrigatório</div> 
        <div *ngIf="f.email.errors.email">Email inválido</div>
      </div>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input formControlName="senha" name="senha" type="password" class="form-control" placeholder="Senha" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }">
      <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
        <div *ngIf="f.senha.errors.required">A Senha é obrigatória</div>
        <div *ngIf="f.senha.errors.minlength">A Senha deve ter no minimo 5 caracteres</div>
      </div>
    </div>
    <p *ngIf="mensagem" class="alert alert-danger" role="alert">{{mensagem}}</p>
    <button type="submit" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
  </form> 
</div>