h2 {
    position:relative;
    left:50%;
    max-width:45%;
    max-height:45%;
    display:table;

    transform: translate(-50%);
    margin-top: 3%;
    margin-bottom: 3%;
}

h4, p {
    color: black;
}

a {
    text-decoration: none;
}