<div class="container">
    <h2>Notícias</h2>
    <div class="container" *ngFor="let noticia of noticias">
        <a target="_blank" href="{{noticia.url}}">
            <div>
                <h4>{{noticia.title}}</h4>
            </div>
            <div>
                <p>Publicado por {{noticia.source.name}}</p>
            </div>
            <hr>
        </a>
    </div>
</div>