.grafico {
    padding: 10px;
    padding-top: 13px;
    margin: auto;
}

.row {
    padding-left: 4px;
}

.dropdown-button {
    cursor: pointer;
}

.dropdown-ordena {
    margin-bottom: 10px;
    position: absolute;
}