<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Comentário</th>
            <th>Polaridade</th>
            <th>Rede Social</th>
            <th>DATA</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of resultados">
            <td>{{item.comentario}}</td>
            <td>{{item.polaridade}}</td>
            <td>{{item.tipo}}</td>
            <td>{{formatarData(item.data)}}</td>
        </tr>
    </tbody>
  </table>
</div>