<nav class="navbar navbar-expand-sm navbar-dark backgroundnavbar">
  <a href="/">
    <img src="https://i.imgur.com/XOvvVGO.png" alt="Octopus Project" width="30px">
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navbartext" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link navbartext" href="/relatorio">Relatório </a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link navbartext" routerLink="/painel">Painel</a>
      </li>
    </ul>

    <ng-template [ngIf]="nomeCompleto" [ngIfElse]="notLogged">
      <a class="nav-link navbartext" href="javascript:void(0);">{{nomeCompleto}}</a>
      <a class="nav-link navbartext" href="javascript:void(0);" (click)="logout()">Logout</a>      
    </ng-template>
    <ng-template #notLogged>
      <a class="nav-link navbartext" href="/login">Entrar</a>
      <a class="nav-link navbartext" href="/cadastro">Registrar</a>
    </ng-template>

  </div>
</nav>